<!DOCTYPE html>

<html>

    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        
        <link rel="stylesheet" type="text/css" href="css/jquery-mobile.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        
        <title>Get to Know Global Voices</title>
    
    </head>

    <body>
        
        <!-- This is the actual page wrapper, which will be filled in by the various views -->
        
        <div data-role="page">

            <div data-role="header">
                <img src="img/gv-logo.png">
            </div>

            <div id="content" data-role="content">
                <p>Loading...</p>
                <p><a href="#" onClick="Javascript:app.onDeviceReady();">click here to run onDeviceReady</a></p>
            </div>

        </div>

        <!-- These are various templates, which are not shown right away. The are filled in by the 
        various views to show content -->

        <script type="text/template" id="country-list-item-template">
            <div class="ui-btn-inner ui-li">
                <div class="ui-btn-text">
                    <a href="#countries/<%= id %>" class="ui-link-inherit"><h3 class="ui-li-heading"><%= name %></h3></a>
                </div>
            </div>
        </script>

        <script type="text/template" id="country-detail-template">
            <h1 class="ui-title" role="heading" aria-level="1"><%= name %></h1>
            <br />
            <ul id="story-list" data-role="listview" class="ui-listview">
            </ul>
        </script>

        <script type="text/template" id="story-template">
            <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <h3 class="ui-li-heading"><%= title %></h3>
                        <p class="ui-li-desc"><i>by <%= author %></i></p>
                        <p class="ui-li-desc"><%= contentSnippet %></p>
                    </div>
                </div>
            </li>
        </script>

        <!-- load all the javascript libraries we are using -->
        <script type="text/javascript" src="js/lib/cordova-2.2.0.js"></script>
        <script type="text/javascript" src="js/lib/jquery.js"></script>
        <script type="text/javascript" src="js/lib/jquery-mobile.js"></script>
        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="js/lib/backbone.js"></script>

        <!-- load all the models and views for our application -->
        <script type="text/javascript" src="js/models/country.js"></script>
        <script type="text/javascript" src="js/views/countrylist.js"></script>
        <script type="text/javascript" src="js/views/countrydetail.js"></script>

        <!-- load in the other application configuration we have written -->
        <script type="text/javascript" src="js/router.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

        <!-- start the app! -->
        <script type="text/javascript">
            $(new function(){
                app.initialize();
            });
        </script>

    </body>
</html>
